/* // RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Edu TAS Beginner", cursive;
}

img {
    width: 100%;
}

header {

    font-size: 2rem;
    background-image: url(../img/wall.png);
    background-position: auto;
    text-align: center;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

main {
    padding-top: 190px;

    background-image: url(../img/cork.png);
    background-size: auto;
    min-height: 100vh;

}

.card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
    margin-bottom: 100px;

}
.card:hover {
    transform: rotate(5deg) scale(1.03);
    
}
.card:hover .puntina{
    opacity: 0;
    transition: opacity 0.2 ease-in-out;
}


.puntina {
    width: 50px;
    position: relative;
    top: -1px;
    left: 0;
    /* display: block; */
}

.p-20 {
    padding: 20px;
}

.pb-20{
    margin-bottom: 100px;
}
.gap {
    gap: 50px;

}

.fontdate {
    font-family: "Sometype Mono", monospace;
}

.uppercase {
    text-transform: uppercase;
}

.col {
    width: 30%;
}

.d-flex {
    display: flex;

}

.wrap {
    flex-wrap: wrap;
}

.jc-content-between {
    justify-content: space-between;

}

.container {
  margin: 0 auto;
  padding: 0 40px;
}


.btn {
    padding: 20px 30px;
    background-color: #1071e0;
    color: white;


}