/* // RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Edu TAS Beginner", cursive;
}
img{
    width: 100%;
}
header{
    
    font-size: 2rem;
    background-image: url(../img/wall.png);
    background-position: auto;
    text-align: center;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
main{
    padding-top: 190px;

    background-image: url(../img/cork.png);
    background-size: auto;
    height: 100vh;
    
}
.card{
    background-color: white;
    border: 2px solid black;
}
.p-20{
    padding: 20px;
}
.gap{
    gap: 50px;

}

.col{
    width: 30%;
}

.d-flex{
    display: flex;

}
.wrap{
    flex-wrap: wrap;
}
.jc-content-between{
    justify-content: space-between;

}
.container{
    margin: auto 100px ;

}
