/* // RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Edu TAS Beginner", cursive;
}

img {
    width: 100%;
}

header {

    font-size: 2rem;
    background-image: url(../img/wall.png);
    background-position: auto;
    text-align: center;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
h1{
    padding-top: 20px;
}

main {
    padding-top: 190px;

    background-image: url(../img/cork.png);
    background-size: auto;
    min-height: 100vh;

}

.card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
    margin-bottom: 100px;

}
.card:hover {
    transform: rotate(5deg) scale(1.03);
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}
.card:hover .puntina{
    opacity: 0;
    transition: opacity 0.2 ease-in-out;
}


.puntina {
    width: 50px;
    position: relative;
    top: -50px;
    left: 50%;
    /* display: block; */
}

.p-20 {
    padding: 20px;
}

.pb-20{
    margin-bottom: 100px;
}
.gap {
    gap: 50px;

}
.gap-40{
    gap: 10px;
}

.fontdate {
    font-family: "Sometype Mono", monospace;
}

.uppercase {
    text-transform: uppercase;
}

.col {
    width: 30%;
}

.d-flex {
    display: flex;

}
.d-flex-column{
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.jc-content-between {
    justify-content: space-between;

}
.jc-content-center{
    justify-content: center;
}
.aling-item-center{
    align-items: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #8080808f;
    z-index: 100;
    
}
.overlay.d-none{
    display: none;
}
.content{
    z-index: 1;
    width: 900px;
    background-color: white;
    margin-top: 20px;
    
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}


.btn {
    padding: 10px 20px;
    background-color: #2505da;
    color: white;
    border-radius: 20px;


}